.BtnModal {
    width: 350px;
    height: 200px;
    background-color:lightblue;
    // opacity: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    p{
        padding: 5px;
        text-align: center;
    }
    .betMoneyConatiner {
        width: 50%;
        margin: 0 auto;
        // margin-top: 15px;

        .betMoney {
            width: 100%;
            margin: 0 auto;
        }
    }

    .btnModalConatiner {
        text-align: center;
        margin-top: 20px;
    }

    .btnModal {
        width: 60px;
        padding: 5px 5px;
        border-radius: 10px;
        text-decoration: none;
        background-color: rgb(252, 125, 76);
        text-align: center;
        font-size: 15px;
        margin: 0 auto;
    }
}