header {
    .HeaderContainer {
        background-color: #D0D2E4;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .menuIcon {
        // width: 30px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        // align-items: center;
    }

    .sideMenu {
        position: fixed;
        top: 30px;
        // right: 0px;
        height: 100vh;
        width: 50%;
        background-color: #D0D2E4;
        opacity: 85%;
        right: 0;
        transform: translateX(100%);
        transition: all 0.5s ease;
        p {
            font-weight: bold;
            margin: 20px;
        }
    }
    .active{
        height: 100vh;
        width: 50%;
        background-color: #D0D2E4;
        opacity: 85%;
        position: absolute;
        right: 0;
        transform: none;
        z-index: 2;
        p {
            font-weight: bold;
            margin: 20px;
        }
    }
}