@use '../../scss/var.scss' as v;

@mixin desktop {
    @media screen and (min-width:(v.$cp)) {
        @content;
    }
}

header {
    z-index: 3;
    .HeaderContainer {
        background-color: #D0D2E4;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .menuIcon {
        height: 30px;
        display: flex;
        justify-content: flex-end;
    }

    .sideMenu {
        position: fixed;
        top: 30px;

        height: 100vh;
        width: 50%;
        background-color: #D0D2E4;
        opacity: 85%;
        right: 0;
        transform: translateX(100%);
        transition: all 0.5s ease;

        p {
            font-weight: bold;
            margin: 20px;
        }
    }

    .active {
        height: 100vh;
        width: 50%;
        background-color: #D0D2E4;
        opacity: 85%;
        position: absolute;
        right: 0;
        transform: none;
        z-index: 3;

        p {
            font-weight: bold;
            margin: 20px;
        }
    }

    .sideMenu1 {
        position: fixed;
        top: 30px;
        height: 100vh;
        width: 100%;
        background-color: none;
        opacity: 85%;
        right: 0;
        transform: translateX(100%);
        transition: all 0.5s ease;

        p {
            font-weight: bold;
            margin: 20px;
        }
    }

    .active1 {
        height: 100vh;
        width: 100%;
        background-color: none;
        opacity: 85%;
        position: absolute;
        right: 0;
        transform: none;
        z-index: 2;

        p {
            font-weight: bold;
            margin: 20px;
        }
    }
    .desktopMenu{
        display: none;
    }

}

header {
    @include desktop {

        .HeaderContainer {
            background-color: #D0D2E4;
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;
        }

        .menuIcon {
            height: 30px;
            display: flex;
            justify-content: flex-end;
            display: none;
        }

        .sideMenu {
            position: fixed;
            top: 30px;
            height: 100vh;
            width: 50%;
            background-color: #D0D2E4;
            opacity: 85%;
            right: 0;
            transform: translateX(100%);
            transition: all 0.5s ease;

            p {
                font-weight: bold;
                margin: 20px;
            }
        }

        .active {
            height: 100vh;
            width: 50%;
            background-color: #D0D2E4;
            opacity: 85%;
            position: absolute;
            right: 0;
            transform: none;
            z-index: 3;

            p {
                font-weight: bold;
                margin: 20px;
            }
        }

        .sideMenu1 {
            position: fixed;
            top: 30px;
            height: 100vh;
            width: 100%;
            background-color: none;
            opacity: 85%;
            right: 0;
            transform: translateX(100%);
            transition: all 0.5s ease;

            p {
                font-weight: bold;
                margin: 20px;
            }
        }

        .active1 {
            height: 100vh;
            width: 100%;
            background-color: none;
            opacity: 85%;
            position: absolute;
            right: 0;
            transform: none;
            z-index: 2;

            p {
                font-weight: bold;
                margin: 20px;
            }
        }
        .desktopMenu{
            display: flex;
            p{
                padding: 10px 30px 10px 0;
                &:hover{
                    text-decoration: underline black;
                }
            }

            
        }
    }
}