@use '../components/Btn/btn.scss';
@use '../components//CardHolder/cardHolder.scss';
@use '../components/Header/header.scss';
@use '../components/BetModal/betModal.scss';
@use './page/home.scss';
@use './var.scss';


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
body{
  background-color: #143D6D;
}
h1{
  color: white;
}